@CHARSET "UTF-8";

/* 隐藏信息框 */
div.hidden_div_container{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
}
div.hidden_div_container div.hidden_div_bg{
	position:absolute;
	background-color:#000000;
	top:0px;
	left:0px;
	opacity:0.5;
	filter:Alpha(Opacity=50);
	z-index:1000;
}
div.hidden_div_container div.hidden_div{
	background-color:#ffffff;
	z-index:1001;
	position:absolute;
	top:0px;
	left:0px;
	border:2px solid #d1d1d1;
}

/*
 * 标题栏
 */
div.hidden_div_container div.hidden_div div.hidden_div_title{
	background-color:#d1d1d1;
}
/*标题栏关闭按钮*/
div.hidden_div_container div.hidden_div div.hidden_div_title span.close{
	float:right;
	width:15px;
	height:15px;
	color:#fff;
	cursor:pointer;
	margin:0px 5px;
}
div.hidden_div_container div.hidden_div div.hidden_div_title span.close:hover{
	color:orange;
}
/*
 * 内容
 */
div.hidden_div_container div.hidden_div div.hidden_div_content{
	width:400px;
	height:100px;
}
/*
 * 按钮
 */
div.hidden_div_container div.hidden_div span.hidden_div_button{
	border:1px solid #111;
	border-radius:6px;
	cursor:pointer;
}

#create_file_div{
	width:400px;
}
#create_file_div th{
	text-align:right;
}